# Database
DATABASE_URL="mysql://root:password@localhost:3306/gymtrack_db"

# JWT
JWT_SECRET="gymtrack_super_secret_key_2026"
JWT_EXPIRES_IN="7d"

# Server
PORT=5000
NODE_ENV=development

# Client URL (for CORS)
CLIENT_URL="http://localhost:5173"
